html{
    font-family: 'MuseoModerno', cursive;
    font-size: 10px;
    background: #2d2e2e;
}
body{
    padding: 1rem;
    background: #384755;
    color: rgba(230, 225, 225);
    width: 90%;
    margin: 0 auto;
}
.logo{
    text-align: center;
 
}
form{
    text-align: center;
}
label{
    font-size: 1.8rem;
}
input[type="number"]{
font-family: inherit;
font-size: 1.2rem;
background:  rgba(230, 225, 225);
width: 80%;
margin: 1rem 0;
padding: 0.8rem 0;
border: none;
text-align: center;
}
button{
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: bolder;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background: #09ad61;
    margin:0.5rem 0 1rem 0;
}
ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
li{
    border: 1px solid;
    padding: 1rem 1.5rem;
    color: lightgoldenrodyellow;
}
.entriesWrapper{
    padding: 1rem 0;
    font-size: 1.6rem;
}
.entriesWrapper h3{
    margin: 0;
    text-align: center;
    font-weight: lighter;
}
.data{
    font-size: 1.4rem;
}
.data div{
    background: #222f38;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding:0 1rem;
}
/* #target{
    font-family: inherit;
    font-size: 1.2rem;
    background:  rgba(230, 225, 225);
    width: 10%;
    margin: 1rem 0;
    padding: 0.8rem 0;
    border: none;
    text-align: center;
    
} */
.progress{
    text-align: center;
    padding-bottom: 1rem;
}
.progress h3{
    font-size: 1.6rem;
    font-weight: lighter;
}
.progressCircleWrapper{
    display: flex;
    justify-content: center;
}
#progressCircle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #2d3740; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#progressCenter{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #384755;
}

@media screen and (min-width: 800px) {
    body{
        width: 60%;
    }
    input[type='number']{
        width: 40%
    }
    img{
        max-width: 50%;
    }
}